@import 'assets/styles/colors';

.announcements {
  .announcements-skeleton {
    width: 80%;
    margin: 10px auto auto;
    > * {
      height: 130px;
    }
  }
  .announcement-item {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 10px auto auto;
    padding: 10px;
    box-sizing: border-box;
    background-color: $azaela;
    .actions {
      display: flex;
      align-self: flex-end;
      .edit-button {
        margin-right: 10px;
      }
    }
  }
  .create-action {
    width: 80%;
    margin: 10px auto auto;
  }
}