@import '../../assets/styles/colors';

.announcements {
  .announcements-skeleton {
    width: 80%;
    margin: 20px auto auto;
    > * {
      height: 130px;
    }
  }
  .announcement-item {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 20px auto auto;
    padding: 10px;
    background-color: $igloo;
    box-shadow: 2px 2px 2px 1px $silver;
    box-sizing: border-box;
    .actions {
      display: flex;
      align-self: flex-end;
      .edit-button {
        margin-right: 10px;
      }
    }
  }
  .create-action {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin: 20px auto auto;
  }
}