@import '../../assets/styles/colors';

.custom-button {
  cursor: pointer;
  padding: 8px 18px;
  font-weight: bold;
  &.transparent {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    &:hover {
      background-color: white;
      color: $igloo;
    }
  }
  &.solid {
    background-color: $igloo;
    border: 2px solid $igloo;
    color: white;
    &:hover {
      background-color: white;
      border: 2px solid $igloo;
      color: $igloo;
    }
  }
  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}