@import 'assets/styles/colors';

.main-menu {
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 6px 1px $silver;
  }
  .main-menu-item {
    display: block;
    flex: 1 1 auto;
    padding: 15px 10px;
    text-align: center;
    .logout-button {
      cursor: pointer;
    }
  }
  .profile {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: $ocean;
    color: white;
  }
}